{% extends 'base.html' %}
{% block title %}
  <title>SamCrypto</title>
{% endblock title %}
{% block main %}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Symbol</th>
        <th>Crurrency</th>
        <th>Current Price (USD)</th>
      </tr>
    </thead>
    <tbody>
      {% if data %}
        {% for crypto in data %}
          <tr>
            <td>{{ crypto.market_cap_rank }}</td>
            <td> <img src={{ crypto.image }} height=30 width=30> </td>
              <td>{{ crypto.name }}</td>
              <td>{{ crypto.current_price }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <h2>No data found :(</h2>
        {% endif %}
      </tbody>
    </table>
  {% endblock main %}
